<nav class="navbar sticky-top navbar-expand bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="sep10-freedom-project/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="sep10-freedom-project/part_a.html">The Present</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="sep10-freedom-project/part_b.html">The Future</a>
          </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <nav>
    <a href="/" {% if page.url == "/" %}class="navbar sticky-top navbar-expand bg-dark" data-bs-theme="dark"{% endif %}>
      Home
    </a>
    <a href="/about.html" {% if page.url == "/about.html" %}style="color: red;"{% endif %}>
      About
    </a>
  </nav>